@font-face {
  font-family: "Darker Grotesque";
  src: url(fonts/DarkerGrotesque-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Beau Rivage";
  src: url(fonts/BeauRivage-Regular.ttf);
}

/*Generell regel*/
html {
  font-size: 105%;
}

/* Header*/
header {
  position: relative;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;

}

header img {
  width: 80%;
  height: auto;
}

/*Rubrik*/
.title {
  font-family: 'Darker Grotesque', Courier, monospace;
  font-size: 12rem;
  color: #f3f3f0;
  letter-spacing: 2rem;
  text-shadow: 5px 5px rgb(59, 47, 7);
}

/* Parallax scrolling*/
.lager1 {
  transform: translateZ(-15px) scale(2);
  /*Tallrik*/
}

.lager2 {
  transform: translateZ(-25px) scale(2.5);
  /*Salt*/
}

.lager3 {
  transform: translateZ(-5px) scale(1.15);
  /*Rosmarin*/
}

.lager4 {
  display: block;
  max-width: 80%;
  max-height: 80%;
  transform: translateZ(-15px) scale(2);
  margin-top: 200px;
}

.lager1,
.lager2,
.lager3 {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;

}


/*Wrapper för parallax scrolling*/
.wrapper {
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

/* Generella regler*/
body {
  font: 1.25rem/1.2 Urbanist, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #191530;
  background-color: rgb(24, 24, 31);
  background-image: url("../Images/black-wood-background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

a {
  color: #000000;
  text-decoration: none;
  font-family: Urbanist;
  letter-spacing: 0.3em;
}


/* Rotering*/
.rotate {
  display: block;
  width: 50%;
  height: 50%;
  -webkit-transition: -webkit-transform 1s;

}

.rotate:hover {
  -webkit-transform: rotate(40deg) translateZ(0);
}

/*Main*/
main {
  margin-top: 10px;
  color: #e2f8fe;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main p {
  color: #e6f1ee;
  justify-content: center;

}

.foodgrid {
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

/*Om oss*/
.about {
  justify-content: center;
  width: 80%;
  align-items: center;
  right: 100px;
  background-color: white;
}

.about img {
  width: 50%;
  height: 100%;
  float: left;
  padding-right: 30px;
}

.about p {
  color: black;
  text-align: center;
  font-size: 0.95rem;
  margin-right: 30px;

}

.about h3 {
  color: rgb(108, 106, 106);
  text-align: center;
  padding-right: 30px;
  margin-bottom: 1px;
  font-family: 'Beau Rivage', Courier, monospace;
  font-size: 3rem;
}

/*Maträtterna*/
.food1,
.food2,
.food3 {
  width: 33.33%;
  margin-right: 420px;
  margin-top: 60px;
}


.food1 img,
.food2 img,
.food3 img {
  width: 80%;
  margin-right: 900px;
}

.food3 img {
  margin-top: 100px;
}

.food1 h4,
.food2 h4,
.food3 h4 {
  text-align: right;
  margin-top: 200px;
  margin-left: 620px;
  position: absolute;
  font-size: 4rem;
  color: white;
  font-family: 'Beau Rivage', Courier, monospace;
  letter-spacing: 10px;
}

.food1 p,
.food2 p,
.food3 p {
  text-align: center;
  margin-top: 270px;
  margin-left: 400px;
  position: absolute;
  font-size: 1.6rem;
  color: white;
  width: 600px;
  font-family: 'Darker Grotesque', Courier, monospace;
  font-style: italic;
  letter-spacing: 5px;
}

.food2 h4{
  margin-top: 150px;
}

.food2 p{
  margin-top: 220px;
}

/*Navigation bar*/
nav {
  display: block;
  position: fixed;
  margin-top: 1200px;
  top: 100px;
  width: 80%;
  font-size: 1.5rem;
  background-color: #fff4f465;
  top: 0;
  border-radius: 25px;
  justify-content: center;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

}


nav ul {
  max-width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
}

nav li {
  max-width: 100%;
  margin: 0 60px;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #c6f6f2;
}


/*Receptsidorna*/
.recipe {
  background-color: rgb(224, 219, 184);
  width: 75%;
  margin-top: 200px;
  height: 550px;
  border-radius: 25px;
  display: flex;

}

.recipe img {
  width: 40%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

}

.recipe-content {
  flex: 1;
  padding: 20px;
  color: rgb(0, 0, 0);
}

.recipe h2,
.recipe h3,
.recipe ul,
.recipe ol,
.recipe li {
  margin-left: 20px;
  font-size: 0.2rem;
}

.recipe h2 {
  font-family: 'Beau Rivage', Courier, monospace;
  color: rgb(15, 14, 14);
  font-size: 5rem;
  margin-left: 200px;
  margin-bottom: 1px;
  margin-top: 20px;
}



/* Navigation button styles */
/*Navigation buttons*/
.nav-button-left,
.nav-button-right,
.nav-button-home {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  font-size: 9rem;
  color: #e8e8e8;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.nav-button-left {
  margin-top: 70px;
  right: 87%;
  font-family: 'Courier New', Courier, monospace;
}

.nav-button-right {
  margin-top: 70px;
  left: 90%;
  font-family: 'Courier New', Courier, monospace;
}

.nav-button-home {
  left: 20px;
  top: 50px;
  font-size: 6rem;
}

.nav-button-left:hover,
.nav-button-right:hover,
.nav-button-home:hover {
  color: rgba(92, 90, 90, 0.8);
}


/*Footer*/
footer {
  background-color: #fff4f478;
  height: 100px;
  margin-top: 100px;
}

footer p {
  color: #000000;
  text-align: center;
  padding-top: 10px;
}

/*Kontaktformulär*/
.kontakt {
  background-color: #332d33;
  padding: 40px;
  margin: 250px;
  margin-top: 100px;
  text-align: center;
  border-radius: 25px;

}

.kontakt h2,
.kontakt p,
.kontakt ul,
.kontakt li {
  font-family: 'Darker Grotesque', Courier, monospace;
  color: #ffffff;
  font-size: 2rem;
  list-style-type: none;
  margin: 20px;

}


.kontakt h2 {
  font-size: 3rem;
}

.kontakt :placeholder-shown {
  padding: 10px;
  padding-right: 600px;
  font-size: 1rem;
}

input[type="submit"] {
  font-size: 20px; /* Adjust the font size to make it bigger */
  padding: 10px 20px; /* Adjust the padding to increase the button size */
}



/*Allergier*/
.allergier {
  justify-content: center;
  background-color: rgb(188, 210, 176);
  padding: 100px;
  margin-top: 100px;
  border-radius: 25px;
}


.allergier h2,
.allergier h3,
.allergier p,
.allergier a {
  font-family: 'Darker Grotesque', Courier, monospace;
  color: #000000;
  text-align: center;
  font-size: 2rem;
}

.allergier h2 {
  font-size: 3rem;

}

.allergier p {
  color: #000000;
  font-size: 1.7rem;

}

.allergier a {
  font-style: italic;
  letter-spacing: 0.1rem;
  text-decoration-line: underline;

}



/*Baktips*/
#baking-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#baking-container h2 {
  margin-bottom: 10px;
}

#baking-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#baking-container p {
  margin-bottom: 5px;
}

/* Loading message styles */
#baking-container p.loading {
  text-align: center;
  font-style: italic;
}

/* Error message styles */
#baking-container p.error {
  text-align: center;
  color: #ff0000;
}

/* Tags styles */
#baking-container p.tags {
  font-style: italic;
  color: #888;
}

/* Instructions styles */
#baking-container p.instructions {
  white-space: pre-wrap;
}


/* Tabell */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

th,
td {
  border: 2px solid #000;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #1a2a05;
  font-weight: bold;
}

tr {
  background-color: #3b4b2a;

}

tr:nth-child(even) {
  background-color: #3b4b2a;
}

tr:nth-child(odd) {
  background-color: #4a573d;
}

tr:hover {
  background-color: #678370;
}

/*För 1400px*/
@media (max-width: 1400px) {
  .food1 h4,
  .food2 h4,
  .food3 h4 {
    margin-top: 200px;
    margin-left: 420px;
  }
  
  .food2 h4{
    margin-top: 80px;
  }
  .food1 p,
  .food2 p,
  .food3 p {
    margin-left: 380px;
    width: 500px;
    font-size: 1.4rem;

}

  .food2 p{
    margin-top: 150px;
  }

  .recipe{
    height: 500px;
}

  .recipe h3,
  .recipe ul,
  .recipe ol,
  .recipe li {
  margin-left: 20px;
  font-size: 0.9rem;
  width: 400px;
}
  .recipe h2 {
    margin-left: 100px;
    font-size: 2em;
  }

  .nav-button-left,
  .nav-button-right {
    top: 40%;
  }
}

/*För 1100px*/
@media (max-width: 1100px) {
  .title {
    font-size: 7rem;
  }

  nav li {
    font-size: 1.2rem;
    margin: 0 10px;
  }

  .food1 h4,
  .food2 h4,
  .food3 h4 {
    margin-top: 100px;
    margin-left: 320px;
  }
  
  .food2 h4{
    margin-top: 80px;
  }
  .food1 p,
  .food2 p,
  .food3 p {
    margin-left: 300px;
    width: 450px;
    font-size: 1.4rem;
    margin-top: 180px;

}

  .food2 p{
    margin-top: 150px;
  }

  .nav-button-right, .nav-button-left {
    margin-top: 100px;
    
  }

  .nav-button-left,
  .nav-button-right {
    top: 35%;
    font-size: 6rem;
    
  }
  .recipe h3,
  .recipe ul,
  .recipe ol,
  .recipe li {
    margin-left: 20px;
    font-size: 0.9rem;
    width: 300px;
}
}

/*För 1000px*/
@media (max-width: 800px) {
  .title {
    font-size: 7rem;
  }

  nav li {
    font-size: 1.0rem;
    margin: 0 10px;
  }

  .food1 h4,
  .food2 h4,
  .food3 h4 {
    margin-top: 100px;
    margin-left: 220px;
    font-size: 3rem;
  }
  
  .food2 h4{
    margin-top: 80px;
  }
  .food1 p,
  .food2 p,
  .food3 p {
    margin-left: 230px;
    width: 300px;
    font-size: 1.0rem;
    margin-top: 150px;

}

  .food2 p{
    margin-top: 150px;
  }

}


